.empreendedorismo__banner {
    width: 100vw;
    height: 480px;
    background-image: url("../assets/Espaço\ Criolas\ Creme\ 1200_480.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 768px) {
    .empreendedorismo__banner {
        width: 100%;
        height: 240px;
    }
}
