.empreendedorismo__banner {
    width: 100vw;
    height: 520px;
    background-image: url("../assets/Espaço\ Criolas\ Creme\ 1200_480.png");
    background-size: cover;
    background-repeat: no-repeat;
}
